<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="posts">

       <% @posts.each do |post| %>
       <div class="post clearfix">
          <div class="post-details">

           <iframe src="<%= post.url %>" width="100%" height="250"></iframe>


           <div class="panel panel-default">
             <div class="panel-heading post-title"><strong><%=link_to post.name.upcase , post %></strong></div>
             <div class="panel-body post-description"><%= post.description %></div>

           </div>

           <div class="post-comments">
             <span class="glyphicon glyphicon-comment"></span>
             <span class="comment-count"><%= post.comments.count %></span>
           </div>
         </div>
     </div>
    <% end %>
     <div class="text-right">
       <%= link_to "Publicar #Freshtrack", new_post_path, class: "btn btn-primary" %>
     </div>
   </div>
  </div>

</div>
